

<h2>todoList</h2>
<div class="todolist">
    <input class="form_input" type="text" [(ngModel)]="keyword" (keyup)="doAdd($event)" />

    <hr>


    <h3>待办事项</h3>
    
    <ul>
      <li *ngFor="let item of todolist;let key=index;" [hidden]="item.status==1">
        
        
       <input type="checkbox" [(ngModel)]="item.status" />  {{item.title}}   ------ <button (click)="deleteData(key)">X</button>
      
      
      
      </li>
    </ul>


    <h3>已完成事项</h3>



    <ul>
        <li *ngFor="let item of todolist;let key=index;" [hidden]="item.status==0">
          
          
         <input type="checkbox" [(ngModel)]="item.status" />  {{item.title}}   ------ <button (click)="deleteData(key)">X</button>
        
        
        
        </li>
      </ul>

</div>