<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1" text="返回"></ion-back-button>
      </ion-buttons>
     

     
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
    

    <ion-searchbar placeholder="Filter Schedules"></ion-searchbar>



    <ion-searchbar placeholder="请输入搜索的内容" animated></ion-searchbar>


    <ion-searchbar placeholder="请输入搜索的内容" animated type="number"></ion-searchbar>



    <ion-searchbar placeholder="请输入搜索的内容" animated  color="success"></ion-searchbar>



    <ion-searchbar placeholder="文本框改变" debounce="500" (ionChange)="doChange()"></ion-searchbar>

        
</ion-content>
