ion-list{
    
    ion-item{

        font-size: 1.6rem;

        ion-icon{

            color: #666;
            font-size: 1.4rem;
        }

        .item_note{

            font-size: 1.4rem;
        }
    }
}