.register_input{
    width: 100%;
    input{

        width: 80%;

        height: 3.2rem;
        line-height: 3.2rem;

        border: 1px solid #eee;

        margin: 2rem auto;

        display: block;
        text-indent: 1rem;


    }
}