
.cate_content{

    width: 100%;

    height: 100%;

    display: flex;
    .cate_left{
        width: 8rem;
        height: 100%;
        overflow-y: auto;

        background: #eee;

        ion-item{
                
            font-size: 1.3rem;
            --background: #eee;
        }       

        ion-item.active{

            --background: #fff;
        }
    }

    .cate_right{

        flex:1;
        height: 100%;
        overflow-y: auto;
       
    }


}