<ion-header>
  <ion-toolbar>
      <ion-segment [(ngModel)]="tab" color="success">
          <ion-segment-button value="tab1">
            <ion-label>简介</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tab2">
            <ion-label>详情</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tab3">
              <ion-label>评论</ion-label>
            </ion-segment-button>
        </ion-segment>    
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="info" [ngSwitch]="tab">

        <div *ngSwitchCase="'tab1'">
            商品简介   --注意ngSwitchCase写法
        </div>
  
        <div  *ngSwitchCase="'tab2'">
            商品详情
  
        </div>
        <div  *ngSwitchCase="'tab3'">
          
          商品评论
        
        </div>
  
      </div>


</ion-content>
