
.cate_content{

    width: 100%;

    height: 100%;

    display: flex;
    .cate_left{
        width: 8rem;
        height: 100%;
        overflow-y: auto;
       
    }

    .cate_right{

        flex:1;
        height: 100%;
        overflow-y: auto;
       
    }


}