<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-button [routerLink]="['/button']" color="warning">
      按钮图标组件页面
    </ion-button>

    <ion-button [routerLink]="['/toolbar']">
      toolbar页面
    </ion-button>

    <ion-button [routerLink]="['/list']">
      列表页面
    </ion-button>
    
    <ion-button [routerLink]="['/form']">
      form表单
    </ion-button>

    <ion-button [routerLink]="['/slides']">
      slides轮播图组件
    </ion-button>


    <ion-button [routerLink]="['/searchbar']">
      searchbar 搜索框组件
    </ion-button>

    <ion-button [routerLink]="['/segment']">
      segment tab切换组件
    </ion-button>

    
    <ion-button [routerLink]="['/datetime']">
      日期组件
    </ion-button>

    <ion-button [routerLink]="['/grid']">
      栅格系统
    </ion-button>


</ion-content>
