<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
      <div class="img">

        <img src="assets/03.jpg" />
      </div>
    </dt>
    <dd>
      <h2 class="cart_title">这是一个商品标题这是一个商品标题这是一个商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">
          ¥100元
        </div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" readonly="readonly" value="1" name="num" id="num" />
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>

  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
      <div class="img">

        <img src="assets/01.jpg" />
      </div>
    </dt>
    <dd>
      <h2 class="cart_title">这是一个商品标题这是一个商品标题这是一个商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">
          ¥100元
        </div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" readonly="readonly" value="1" name="num" id="num" />
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
      <div class="img">

        <img src="assets/02.jpg" />
      </div>
    </dt>
    <dd>
      <h2 class="cart_title">这是一个商品标题这是一个商品标题这是一个商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">
          ¥100元
        </div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" readonly="readonly" value="1" name="num" id="num" />
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  <dl class="cart_list">
    <dt>
      <ion-checkbox color="danger"></ion-checkbox>
      <div class="img">

        <img src="assets/04.jpg" />
      </div>
    </dt>
    <dd>
      <h2 class="cart_title">这是一个商品标题这是一个商品标题这是一个商品标题</h2>
      <div class="cart_info">
        <div class="cart_price price">
          ¥100元
        </div>
        <div class="cart_num">
          <div class="input_left">-</div>
          <div class="input_center">
            <input type="text" readonly="readonly" value="1" name="num" id="num" />
          </div>
          <div class="input_right">+</div>
        </div>
      </div>
    </dd>
  </dl>
  

</ion-content>



<ion-footer>

  <ion-toolbar>

      <ion-buttons slot="start" class="checkout_info">      
        <ion-checkbox color="danger"></ion-checkbox>全选

        <strong>合计：<span class="price">¥2000</span></strong>
      </ion-buttons>
    

    <ion-buttons slot="end" class="checkout_btn">      
      <ion-button color="danger" fill="solid">
        去结算
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>