.mylist{

    ion-item{

        line-height: 3;


        .info{

            h3{

                font-size: 16px;
                padding: 2px;
                margin: 0px;
            }
            p{

                font-size: 13px;

                padding: 2px;
                margin: 0px;
                line-height: 1.5;
            }
        }
    }
}