<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>商品模块</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hawaii</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Peperoni</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hawaii</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Peperoni</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hawaii</ion-label>
    </ion-item>
  </ion-list>
</ion-content>