<ion-header>
  <ion-toolbar color="favorite">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-button color="primary">
     这是一个普通按钮
    </ion-button>

    <ion-button  color="success">
      Click me
    </ion-button>

    <ion-button  color="favorite">
      自定义的主题样式
    </ion-button>

    <ion-button class="btn">
       默认按钮1 有class
    </ion-button>


    <ion-button>
        默认按钮2
     </ion-button>
</ion-content>
