<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button (tap)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="请输入搜索关键词" [(ngModel)]="keywords" animated></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="doSearch()" color="dark">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="sub_toolbar" *ngIf="!flag">   
    <div class="subheader"> 
      <div *ngFor="let item of subHeaderList" (click)="subHeaderChange(item.id)" [ngClass]="{'active': subHeaderSelected==item.id}">           
        {{item.title}}
      </div>
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search_content" *ngIf="flag" padding>
    <div class="hotlist">
      <h3 class="search_title">热搜</h3>
      <p>
        <span>女装</span>
        <span>男装</span>
        <span>家具</span>
        <span>化妆品</span>
        <span>女装</span>
        <span>女装</span>
        <span>男装</span>
        <span>家具</span>
        <span>化妆品</span>

      </p>

    </div>

    <div class="history">

   

      <!-- historyList=['男装','222'] -->

      <div *ngIf="historyList.length>0">

          <h3 class="search_title">历史搜索</h3>

        <ion-list lines="full">
          <ion-item *ngFor="let item of historyList;let key=index;" (press)="removeHistory(key)" (tap)="goSearch(item)">
           {{item}}
          </ion-item>
          
        </ion-list>
      </div>     

    

    </div>

  </div>


  <div class="list_content" *ngIf="!flag">



      <ion-list>
            <ion-item *ngFor="let item of productList">
              <ion-thumbnail slot="start">
                <img [src]="config.domain+item.pic" />
              </ion-thumbnail>
              <ion-label> 
                  <h3>{{item.title}}</h3>
                  <p><span class="price">¥{{item.price}}</span></p>
              </ion-label>
            </ion-item>
      </ion-list>

      <ion-infinite-scroll *ngIf="hasInfiniteData" threshold="100px" (ionInfinite)="getProductList($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="努力加载中...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

  </div>
</ion-content>